<h1>My First Rails Girls</h1>
  <div>
    <h2>Rails Girls
  </h2>
    <div>
      <p>"Pozdrav svima!!!! Idemo Rails Girls 2016."</p>
      <p>"Life is an unfoldment, and the further we travel the more truth we can comprehend. To understand the things that are at our door is the best preparation for understanding those that lie beyond."</p>
      <img src="https://www.helloworld.rs/public/media/2016/04/Teenage-Rails-Girls-Beograd-672x372.png" />
    </div>
      <p>To learn more about HTML</p>
      <a href="http://www.w3schools.com/html/">Visit HTML tutorial</a>
    <h2>Find me</h2>
      <a href="https://github.com/mrlica">Github</a>
      <a href="mailto:mrlica@live.com">Send me an email</a>
  </div>

